
*{margin: 0;
padding: 0;
box-sizing: border-box;}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/*Utilities*/

.allineatesto {text-align: center;
color: white;}


.flexare {
    display: flex;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

button {
    background-color: white;
    border-radius: 17px;
    padding: 10px;
    border-color: none;
}

/*Colors

purple-footer    rgb (115,137,218) 
blue-nav         rgb(50,97,224)
button-color    
light-grey       rgb(246,246,246) 

*/



/*Header*/


header { background-image: url(img/jumbo.png);
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 70px;
}



nav {
height: 60px;
background-color: rgb(37,95,232);
align-items: center;

}






.ul-header { 
display: flex;
align-items: center;
line-height: 0;
background-color: red;
list-style-type: none;
font-size: 10px;


}



.li-header {margin: 0 10px;
color: white;}
 


#logo {
height: 55%;
width: 25%;
display: inline-block;
background-position: 0em;
background-repeat: no-repeat;}

.links {width: 50%;
text-align: center;
color: white;
font-size: 10px;}

span {margin: 0 5px;}

.button-nav {width: 25%;}





h1 {text-align: center;
    margin-bottom: 30px;
    color: white;
}




.blocco-descrittivo { width: 50%;
margin: 40px auto;}

.container-button {justify-content: space-around;
padding: 20px 140px;}

.button-scarica {}
.button-apri {
background-color: rgb(35,39,42);
color: white;}

/*Main*/


section  {
    margin: 50px auto;
    width: 70%;
    height: 300px;
    display: flex;
}

.grey-row { background-color: rgb(246,246,246);}

.flex-reverse { 
flex-direction: row-reverse;}

.immagine { height: 100% ;
width: auto;}





.section-central {
text-align: center;
padding: 12px;
flex-direction: column;
justify-content: center;
height: 100%;
}

.bottone-section-central {margin-top: 20px;
color: white;
background-color: rgb(115,137,218);
align-self: center;}

/*Footer*/

footer {background-color: rgb(35,39,42);}








